{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body style="background-color:black">
    <div  class="hero">
        <div class="navbar">
            <img src="{% static "css/Images/Logo.ico" %}" class="Logo" alt="Dragon Logo">
            <a href="https://youtu.be/dQw4w9WgXcQ" class="button">Click Me</a>
        </div>
        <div class="content">
            <small style="color: navy">Welcome to </small>
            <h1 style="color: navy">Dragon's<br>Last Sanctuary</h1>
        </div>
        <div class="steam">
            <img src="{% static "css/Images/Steam_1.png" %}" alt="Steam_1">
            <img src="{% static "css/Images/Steam_2.png" %}" alt="Steam_2">
            <img src="{% static "css/Images/Steam_3.png" %}" alt="Steam_3">
            <img src="{% static "css/Images/Steam_4.png" %}" alt="Steam_4">
            <img src="{% static "css/Images/Steam_5.png" %}" alt="Steam_5">
            <img src="{% static "css/Images/Steam_6.png" %}" alt="Steam_6">
        </div>
    </div>
</body>
</html>